*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: none;
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: aqua;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}
nav ul li a:hover::after{
    width: 100%;
}

/* .burger-icon{
    width: 3%;
    height: 10%;
} */

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: aqua;
}

/* ---------about------------- */
#about{
    padding: 80px 0;
}

.subtitle{
    font-size: 24px;
}

.about-me-container{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.about-me-paragraph{
    font-size: 22px;
    
}

.about-me-paragraph p span{
    font-size: 27px;
    color: aliceblue;
}

.skill-container{
    padding-left: 100px;
}

.verticle-axis{
    background-color: rgb(136, 189, 235);
    width: 10px;
    height: 400px;
    border-top-left-radius: 20px;
    /* margin-top: -50px; */
}

.level-bar{
    /* margin-top: 50px; */
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-bottom: 32px;
    margin-left: 20px;
    width: 470px;
    height: 50px;
    background-color: white;
}

.horizontal-axis{
    width: 500px;
    height: 10px;
    background-color: rgb(136, 189, 235);
    border-top-right-radius: 20px;
}

.skill-bar{
    height: 50px;
    background-color: rgb(9, 112, 126);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.java-bar{ 
    width: 450px;
}

.mysql-bar{
    
    width: 335px;
}

.javascript-bar{
    width: 482px;
}

.html-bar{
    width: 442px;
}

.css-bar{
    width: 440px;
}

.bar-text{
   padding-top: 10px;
   padding-left: 20px;
}


/* ------services------ */
#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div:hover{
    background: rgb(36, 141, 194);
    transform: translateY(-10px);
}


/* ----projects---- */
#projects{
    padding: 50px 0;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #1284bd);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: rgb(21, 196, 208);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}


/* -----contacts----- */
.row{
    display: grid;
    grid-template-columns: 40% 60%;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 65%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: aqua;
    margin-right: 15px;
    font-size: 25px;
}

.social-media-icons{
    margin-top: 30px;
}

.social-media-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: rgb(200, 229, 239);
    display: inline-block;
    transition: transform 0.5s;
}

.social-media-icons a:hover{
    color: rgb(48, 238, 238);
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 16px;
}

.submit-btn{
    display: block;
    margin: 50px ;
    width: fit-content;
    border: 1px solid aqua;
    border-radius: 6px;
    background: rgb(86, 223, 223);
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.5s;
}

.submit-btn:hover{
    background: aqua;
}

.container-last-contact{
    display: none;
}

.contact-left2{
    flex-basis: 35%;
}

.contact-left2 p{
    margin-top: 30px;
}

.contact-left2 p i{
    color: aqua;
    margin-right: 15px;
    font-size: 25px;
}

/*Add resposiveness to the site*/

@media screen and (max-width: 1160px){
    .about-me-container{
        padding-top: 20px;
        display: grid;
        grid-template-columns: 100%;
    }
    .about-me-paragraph{
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1160px){
    .row{
        display: grid;
        grid-template-columns: 100%;
    }
    .contact-left{
        display: none;
    }
    .container-last-contact{
        display: flex;
    }
    .submit-btn{
        margin-left: 50vw;
    }
}

@media screen and (max-width: 863px) {
    ul{
        display: none;
    }
    .skill-container{
        padding-left: 50px;
    }
}

@media screen and (max-width: 754px){
    .skill-container{
        padding-left: 0px;
    }
    .header-text h1{
        font-size: 40px;
    }
}

@media screen and (max-width: 614px){
    .skill-container{
        padding-left: 40px;
    }
    .verticle-axis{
        background-color: rgb(136, 189, 235);
        width: 10px;
        height: 250px;
        border-top-left-radius: 20px;
        /* margin-top: -50px; */
    }
    
    .level-bar{
        /* margin-top: 50px; */
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-bottom: 20px;
        margin-left: 20px;
        width: 320px;
        height: 30px;
        background-color: white;
    }
    
    .horizontal-axis{
        width: 350px;
        height: 10px;
        background-color: rgb(136, 189, 235);
        border-top-right-radius: 20px;
    }
    
    .skill-bar{
        height: 30px;
        background-color: rgb(9, 112, 126);
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    
    .java-bar{ 
        width: 300px;
    }
    
    .mysql-bar{
        
        width: 285px;
    }
    
    .javascript-bar{
        width: 332px;
    }
    
    .html-bar{
        width: 292px;
    }
    
    .css-bar{
        width: 290px;
    }
    
    .bar-text{
       padding-top: 8px;
       padding-left: 20px;
    }

    .bar-text h2{
        font-size: 14px;
    }

    .submit-btn{
        margin-left: 0vw;
        height: 20px;
        font-size: 14px;
    }

    .e-mail{
        margin-right: 10px;
    }
    
    
}

@media screen and (max-width: 521px){
    .skill-container{
        padding-left: 20px;
    }
}

@media screen and (max-width: 521px){
    .skill-container{
        padding-left: 0px;
    }
}

@media screen and (max-width: 421px){
    .skill-container{
        display: none;
    }
}
